 {% load static %}
 <!--====== FOOTER PART START ======-->
 <footer class="footer-area">
    <div class="footer-widget pb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row mx-2 d-flex align-items-center justify-content-center subscribe_row rounded pt-40 pb-40 pl-30 pr-30">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="footer-subscribe-title">
                                <h4>Get Our Updates</h4>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="subscribe-form">
                                <form action="{% url 'lists' %}" method="post">{% csrf_token %}
                                    <div class="col-12 form-line">
                                        <div class="form-group">
                                            <input type="email" class="form-control" name="email" placeholder="Enter Email Address">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-submit">
                                            <button type="submit" class="btn-inline main-btn-inline-subscribe">Subscribe</button>
                                        </div>
                                        {% if messages %}
                                        <div class = "form-submit">
                                            {% for message in messages %}
                                                <div class="alert alert-success">
                                                    {{message}}
                                                </div>
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-link pt-35">
                        <h4 class="footer-title mb-25">Information</h4>
                        <ul>
                            <li><a href="{% url 'about_us' %}">About Us</a></li>
                            <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
                            <li><a href="{% url 'blog' %}">Blog</a></li>
                        </ul>
                    </div> <!-- footer link -->
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-link pt-35">
                        <h4 class="footer-title mb-25">Help & Support </h4>
                        <ul>
                            <li><a href="https://wa.me/2348141746500">Live Chat</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="{% url 'faq' %}">FAQ</a></li>
                        </ul>
                    </div> 
                    <!-- footer link -->
                </div>
            </div> 
            <!-- row -->
        </div> 
        <!-- container -->
    </div> 
    <!-- footer widget -->

    <div class="footer-copyright pt-10 pb-20">
        <div class="container">
            <div class="copyright-section d-md-flex align-items-center justify-content-between">
                <div class="copyright text-center pt-10">

                     <p class="pt-2 text">All copyrights reserved © 2022</p>
                </div> 
                <!-- copyright -->
            </div> 
            <!-- copyright payment -->
        </div> 
        <!-- container -->
    </div> 
    <!-- footer copyright -->
</footer>
<!--====== FOOTER PART ENDS ======-->

